.example-custom-placeholder {
    background: #ccc;
    border: dotted 3px #999;
    width: 18rem;
    height: 12rem;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.centered{
    width: 100%;
    background-color: #c196d2;
    height: 94vh;
}
  
.inline{
    display: inline-block;
}

.card{
    color: #712c8d;
    border-color: black;
    background-color: #dabce6;
}

.btn{
    background-color: #dabce6;
    color: #712c8d;
    text-decoration: underline;
}

.bottomCentered{
    bottom: 5px;
    position: absolute;
    left: 47%;
    color: white;
    text-decoration: underline;
}